/* custom CSS rules */
.legend-large, .legend-small {
    border-radius: 50%;
    width: 240px;
}
hr.small, hr.large {
    width: 83px;
    top: -8px;
    left: 55px;
    position: absolute;
    border: 1px solid #d8d8d8;     /* overwrite assembly.css rule */
    margin-top: 7px;            /* overwrite assembly.css rule */
    color: black,
}

body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #3c8365;
    color: #d8d8d8
}
#slider {
    font-family: "Source Sans Pro", sans-serif;
    color: #d8d8d8
}
#legend{
    width: 240px;
    font-family: "Source Sans Pro", sans-serif;
    color: #d8d8d8
}
#info{
    width: 240px;
    font-family: "Source Sans Pro", sans-serif;
    }
#counter{
    width: 120px;
    font-family: "Source Sans Pro", sans-serif;
    color: #d8d8d8
}
